{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="h1 mb-5 mt-5">Signup</h1>
    </div>
    <div class="col-sm-12">
      <form action="{{ url_for('auth.signup') }}" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div><a href="/login">Already have an account? Login here</a></div>
        </form>
    </div>

  {% if error_message %}
    <div class="col-sm-12 mt-2 pt-2 pb-2 alert-danger rounded" role="alert">
      {{ error_message }}
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}